workflows/Audio-to-Notion Automation.json
{
  "name": "23. Exercício: Crie um transcritor de áudio com IA",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1lwPPmq4VTYhdtTpfVeEd3mT4XxAsoRhl",
          "mode": "list",
          "cachedResultName": "Teste N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1lwPPmq4VTYhdtTpfVeEd3mT4XxAsoRhl"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        80,
        0
      ],
      "id": "c2ef5943-a5e4-41fb-981f-67078ac88edb",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pAv6j4pbmhiI1JpD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        304,
        0
      ],
      "id": "13d872d2-53c8-4845-ac48-296807ec6e07",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pAv6j4pbmhiI1JpD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        592,
        0
      ],
      "id": "05f06a4c-1bd4-4463-a1b4-37fb92a091ac",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "UOKYEXbJih3z3bBy",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content.parts[0].text }}",
        "options": {
          "systemMessage": "resuma esse texto "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        800,
        0
      ],
      "id": "c96a2764-607e-4e86-8f22-060dfa5aec35",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        672,
        208
      ],
      "id": "0375e116-5010-4d79-b100-4b24c16a023a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "4hrrlM4AwDtPIXsi",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "https://www.notion.so/Teste-N8N-2a65e5264d6f805d8ee1c5a5148767ad?source=copy_link",
          "mode": "url"
        },
        "title": "={{ $('Google Drive Trigger').item.json.name }}",
        "simple": false,
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "={{ $('Google Drive Trigger').item.json.name }}"
            },
            {
              "textContent": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1152,
        0
      ],
      "id": "6492adef-0c68-4515-81e1-cc50f27afadd",
      "name": "Create a page",
      "credentials": {
        "notionApi": {
          "id": "fo61BrfzqolXWcpY",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1360,
        0
      ],
      "id": "d5e88929-e452-4008-8aa6-0908d8a3f037",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a page": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "870af928-7ba3-41fe-82f6-7b5154cacea2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "828441a91ea84999c7d8cddc803ac0e241454115c4afa362f69d4a95266f34bb"
  },
  "id": "feNcs3ZNwIqv595A",
  "tags": []
}