workflows/Email Summary Agent.json
{
  "name": "Email Summary Agent",
  "nodes": [
    {
      "parameters": {
        "content": "- Inicia o fluxo de trabalho todos os dias às 7h.",
        "height": 314.47468983163634,
        "width": 248.47086922498647
      },
      "id": "94c09c05-539b-452e-83b7-0a029bbe6b7f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Busca todos os e-mails recebidos nas últimas 24 horas do endereço de e-mail.",
        "height": 313.40934714314244,
        "width": 213.36643278764896
      },
      "id": "5e5cbc87-5c01-438b-a1c0-e8468d3ee20b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "exemplo@exemplo.com",
        "subject": "=ESAgent - {{ new Date(new Date().setDate(new Date().getDate() - 1)).toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' }) }}-00:00 to {{ new Date(new Date().setDate(new Date().getDate())).toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' }) }}-07:00AM",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Summary - isbonline@quantana.in</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            margin: 0;\n            padding: 0;\n            background-color: #f9f9f9;\n            color: #333;\n            line-height: 1.6;\n        }\n        .email-container {\n            max-width: 600px;\n            margin: 20px auto;\n            background: #ffffff;\n            border: 1px solid #ddd;\n            border-radius: 10px;\n            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);\n        }\n        .email-header {\n            background-color: #0073e6;\n            color: #fff;\n            padding: 20px;\n            text-align: center;\n            border-top-left-radius: 10px;\n            border-top-right-radius: 10px;\n        }\n        .email-header h1 {\n            margin: 0;\n            font-size: 24px;\n        }\n        .email-content {\n            padding: 20px;\n        }\n        .section-title {\n            font-size: 20px;\n            color: #0073e6;\n            margin-bottom: 10px;\n        }\n        ul {\n            list-style: none;\n            padding: 0;\n        }\n        ul li {\n            margin: 10px 0;\n            padding: 10px;\n            background: #f4f4f4;\n            border-left: 4px solid #0073e6;\n            border-radius: 5px;\n        }\n        .action-item {\n            font-weight: bold;\n            margin: 5px 0;\n        }\n        .action-detail {\n            margin-left: 10px;\n        }\n        .email-footer {\n            background-color: #0073e6;\n            color: #fff;\n            text-align: center;\n            padding: 10px;\n            font-size: 14px;\n            border-bottom-left-radius: 10px;\n            border-bottom-right-radius: 10px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"email-header\">\n            <h1>Email Summary</h1>\n        </div>\n        <div class=\"email-content\">\n\n            <div>\n                <h2 class=\"section-title\">Summary of Emails:</h2>\n                <ul>\n                    {{\n                        (() => {\n                            const data = JSON.parse($json.content.parts[0].text);\n                            return data.summary_of_emails\n                                .map(email => `<li>${email}</li>`)\n                                .join('');\n                        })()\n                    }}\n                </ul>\n            </div>\n\n            <div>\n                <h2 class=\"section-title\">Actions:</h2>\n                <ul>\n                    {{\n                        (() => {\n                            const data = JSON.parse($json.content.parts[0].text);\n                            return data.actions\n                                .map(action => `\n                                    <li>\n                                        <span class=\"action-item\">${action.name}:</span>\n                                        <span class=\"action-detail\">${action.action}</span>\n                                    </li>\n                                `)\n                                .join('');\n                        })()\n                    }}\n                </ul>\n            </div>\n\n        </div>\n        <div class=\"email-footer\">\n            <p>Generated by Quantana ESAgent <br /> A Quantana AI Labs Initiative</p>\n        </div>\n    </div>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false,
          "replyToSenderOnly": false
        }
      },
      "id": "4aa68ee8-d38f-418a-9f20-6cc76850c638",
      "name": "Send Summary - Morning",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1520,
        384
      ],
      "webhookId": "83f2aeb9-7b6c-4336-b5ed-8acfcd259850",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "bnKmkQqnhFM3o298",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "Organiza os dados dos e-mails coletados, extraindo campos como remetente, destinatário, CC e um trecho de pré-visualização.",
        "height": 305.83657700487913,
        "width": 226.7095107678671
      },
      "id": "c7667667-9533-40cb-9c09-914a11560600",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "-Envia o relatório resumido dos e-mails aos destinatários com um layout HTML estilizado.\n",
        "height": 359.7308639651144,
        "width": 232.8435827211592
      },
      "id": "43955af4-3a18-44d7-8c8d-cf8051b18bdd",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Percorra este resumo de e-mail e identifique todos os detalhes principais mencionados, quaisquer questões específicas a serem analisadas e itens de ação.\nUse este formato para a saída:\n{\n  \"summary_of_emails\": [\n    \"Ponto 1\",\n    \"Ponto 2\",\n    \"Ponto 3\"\n  ],\n  \"actions\": [\n    {\n      \"name\": \"Nome 1\",\n      \"action\": \"Ação 1\"\n    },\n    {\n      \"name\": \"Nome 1\",\n      \"action\": \"Ação 2\"\n    },\n    {\n      \"name\": \"Nome 2\",\n      \"action\": \"Ação 3\"\n    }\n  ]\n}\n\n{{ $json.data.toJsonString() }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1184,
        384
      ],
      "id": "6b8555d2-401a-4fd2-a719-408009f22b8a",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "UOKYEXbJih3z3bBy",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "id, From, To, CC, snippet",
        "options": {}
      },
      "id": "4a8fdfd9-93d7-43a2-92b0-88d845f217bf",
      "name": "Organizar dados do e-mail",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        960,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "q": "={{\n  (() => {\n    return \"newer_than:1d\";\n  })()\n}}\n"
        }
      },
      "id": "dd3e4b10-187b-45ce-b999-f0143e5af134",
      "name": "Buscar e-mails das ultimas 24h",
      "type": "n8n-nodes-base.gmail",
      "position": [
        720,
        384
      ],
      "webhookId": "20f1d11d-8a69-43f3-9323-33eaf1b3b600",
      "typeVersion": 2.1,
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "bnKmkQqnhFM3o298",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "9a82f5e9-7d0b-430f-9dbb-d8ae0b129dad",
      "name": "Trigger 7AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        448,
        384
      ],
      "typeVersion": 1.2
    }
  ],
  "pinData": {
    "Message a model": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "{\n  \"summary_of_emails\": [\n    \"Oferta de bônus para iniciar na área de TI da Mate academy.\",\n    \"Alerta do Google sobre o aplicativo madudigital.online ter acesso aos dados da conta de mmferreira2000@gmail.com.\",\n    \"Livelo anuncia 'Pink Friday' e informa saldo de 0 pontos em 18/11/2025.\",\n    \"Convite da Microsoft na DIO para a Aceleração de IA & Arquitetura de Dados.\",\n    \"Canva incentiva a continuidade do aprendizado.\",\n    \"Mobly oferece até 80% OFF na Black Friday em móveis de escritório, quarto e sala.\",\n    \"EF Intercâmbio oferece dicas sobre como planejar finanças para estudar fora do Brasil.\",\n    \"Mensagens de Feliz Aniversário para Matheus de Inter e Spiible.\",\n    \"NoCode StartUp liberou aula gratuita e comentada da formação Agentes de IA.\",\n    \"Udemy sugere ver o próximo curso e menciona os benefícios de ser um novo aprendiz.\",\n    \"LinkedIn notifica que o perfil de Matheus Marques Ferreira está chamando atenção.\",\n    \"Steam tem o jogo Sekiro™: Shadows Die Twice - GOTY Edition com 50% de desconto (R$137,00), válido até 3 de dezembro.\",\n    \"Magalu tem promoções de até 50% OFF e ofertas exclusivas.\",\n    \"Amazon.com.br convida a continuar explorando descobertas recentes.\",\n    \"DeepLearning.AI lançou dois novos programas na Coursera, incluindo 'PyTorch for Deep Learning Professional'.\",\n    \"LinkedIn notifica sobre uma publicação em 18/11/2025.\",\n    \"Facebook Viewpoints lembra de uma nova tarefa no programa Daily screen activity que oferece 250 pontos.\",\n    \"LinkedIn informa sobre a busca por parceiros de design freelance e colaboradores de engenharia.\",\n    \"LinkedIn 'Emprego & Tecnologia' aborda empresas de diferentes segmentos e processos seletivos.\",\n    \"Indeed sugere vaga de Vendedor(a) Externo (Jacupiranga/SP) com salário entre R$ 1.519,00 e R$ 3.493,60, baseada no currículo de Matheus.\",\n    \"LinkedIn Premium oferece 25% de desconto vitalício.\",\n    \"Drogasil anuncia 'Esquenta Black Friday'.\",\n    \"DIO promove Black Friday com a oferta 'PRO Vitalício + Atalho Secreto'.\",\n    \"Business Insider compartilha 6 hábitos diários de um neurocientista para a saúde cerebral.\",\n    \"O Boticário oferece até R$ 68,80 de desconto em um produto.\",\n    \"GOG.COM garante a confidencialidade das respostas.\",\n    \"Santander na DIO convida para o Bootcamp Excel com Inteligência Artificial.\",\n    \"DIO.me convida para uma live sobre 'o segredo que reprova 99% dos candidatos em entrevistas'.\",\n    \"Grupo Boticário Fidelidade convida a desbloquear recompensas através de desafios.\",\n    \"Nomad envia mensagem motivacional.\",\n    \"SEO WRITING agradece pela confiança e anuncia um evento contínuo 'BF30MONTH'.\",\n    \"Mercado Pago lembra Matheus Marques Ferreira do limite de crédito disponível.\",\n    \"LinkedIn envia desempenho semanal e dicas para Matheus Marques Ferreira.\",\n    \"Matheus foi selecionado para participar do processo seletivo para a vaga de PESSOA ESTAGIÁRIA DE IA (ID 10147917) na Quality Digital.\"\n  ],\n  \"actions\": [\n    {\n      \"name\": \"Matheus Marques Ferreira\",\n      \"action\": \"Verificar e, se necessário, revogar o acesso do app madudigital.online à Conta do Google.\"\n    },\n    {\n      \"name\": \"Matheus Marques Ferreira\",\n      \"action\": \"Aproveitar as ofertas da 'Pink Friday' na Livelo.\"\n    },\n    {\n      \"name\": \"Matheus Marques Ferreira\",\n      \"action\": \"Participar da Aceleração Microsoft IA & Arquitetura de Dados.\"\n    },\n    {\n      \"name\": \"Matheus Marques Ferreira\",\n      \"action\": \"Verificar o próximo curso na Udemy.\"\n    },\n    {\n      \"name\": \"Matheus Marques Ferreira\",\n      \"action\": \"Considerar a compra do jogo Sekiro™: Shadows Die Twice - GOTY Edition na Steam (oferta válida até 3 de dezembro).\"\n    },\n    {\n      \"name\": \"Matheus Marques Ferreira\",\n      \"action\": \"Continuar explorando descobertas recentes na Amazon.\"\n    },\n    {\n      \"name\": \"Matheus Marques Ferreira\",\n      \"action\": \"Explorar os novos programas DeepLearning.AI na Coursera, incluindo 'PyTorch para Deep Learning'.\"\n    },\n    {\n      \"name\": \"Matheus Marques Ferreira\",\n      \"action\": \"Concluir a nova tarefa do programa Daily screen activity no Facebook Viewpoints para ganhar 250 pontos (convite expira em breve).\"\n    },\n    {\n      \"name\": \"Matheus Marques Ferreira\",\n      \"action\": \"Enviar interesse para a vaga de Vendedor(a) Externo (Jacupiranga/SP) no Indeed.\"\n    },\n    {\n      \"name\": \"Matheus Marques Ferreira\",\n      \"action\": \"Aproveitar o desconto vitalício de 25% no LinkedIn Premium.\"\n    },\n    {\n      \"name\": \"Matheus Marques Ferreira\",\n      \"action\": \"Clicar para conferir o produto com desconto no O Boticário.\"\n    },\n    {\n      \"name\": \"Matheus Marques Ferreira\",\n      \"action\": \"Participar do Bootcamp Santander Excel com Inteligência Artificial.\"\n    },\n    {\n      \"name\": \"Matheus Marques Ferreira\",\n      \"action\": \"Assistir à live da DIO.me sobre os segredos que reprovam candidatos em entrevistas.\"\n    },\n    {\n      \"name\": \"Matheus Marques Ferreira\",\n      \"action\": \"Desbloquear recompensas no programa de fidelidade do Grupo Boticário.\"\n    },\n    {\n      \"name\": \"Matheus Marques Ferreira\",\n      \"action\": \"Conferir as super ofertas da 'PINK FRIDAY' no shopping Livelo.\"\n    },\n    {\n      \"name\": \"Matheus Marques Ferreira\",\n      \"action\": \"Aproveitar o limite disponível no Mercado Pago.\"\n    },\n    {\n      \"name\": \"Matheus Marques Ferreira\",\n      \"action\": \"Verificar desempenho semanal e dicas no LinkedIn.\"\n    },\n    {\n      \"name\": \"Matheus Marques Ferreira\",\n      \"action\": \"Participar do processo seletivo para a vaga de Estagiário(a) de IA na Quality Digital.\"\n    }\n  ]\n}"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        }
      }
    ]
  },
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Send Summary - Morning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizar dados do e-mail": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar e-mails das ultimas 24h": {
      "main": [
        [
          {
            "node": "Organizar dados do e-mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger 7AM": {
      "main": [
        [
          {
            "node": "Buscar e-mails das ultimas 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7733667e-a7a3-4db7-afc8-72dcc9a38c0e",
  "meta": {
    "templateId": "2722",
    "templateCredsSetupCompleted": true,
    "instanceId": "828441a91ea84999c7d8cddc803ac0e241454115c4afa362f69d4a95266f34bb"
  },
  "id": "Q1rmopJ1PLHbR7B2",
  "tags": []
}